<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
    <body>
        <form method="POST" action="/login">
            <p><input type="text" name="username" placeholder="username"></p>
            <p><input type="password" name="password" placeholder="password"></p>
            <p><button type="submit">Login</button></p>
            <a href="/signup">Go to signup</a>
        </form>
    </body>
</html>