<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
    <body>
        <form method="POST" action="/signup">
            <p><input type="text" name="username" placeholder="username"></p>
            <p><input type="text" name="email" placeholder="email"></p>
            <p><input type="password" name="password" placeholder="password"></p>
            <p><button type="submit">SignUp</button></p>
        </form>
    </body>
</html>